.header {
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  gap: 32px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 16px;
}

.menu a {
  color: #333;
  text-decoration: none;
}

.content {
  height: calc(100vh - 64px);
  padding: 16px;
}
