.calendar :global(.ant-picker-calendar-mode-switch) {
  display: none;
}

.calendar :global(.ant-picker-calendar-date-content) li {
  list-style: none;
}

.events {
  margin: 0;
  padding: 0;
}

.event :global(.ant-badge-status) {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event {
  display: flex;
  align-items: center;
}

.time {
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  color: #8c8c8c;
}
